.sort-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.sort-buttons {
  &__no-button {
    height: 30px;
  }

  > *:last-child {
    margin-right: 0;
  }
}

.button {
  padding: 0 10px;
  margin: 0 5px 5px 0;
  height: 25px;
  font-family: inherit;
  font-weight: 700;
  background: #fff;
  color: #d11b1b;
  outline: none;
  cursor: pointer;
  border: 2px solid #d11b1b;
  border-radius: 5px;
  transition: 0.2s color ease-in-out, 0.2s background-color ease-in-out;

  &:hover {
    background-color: #d11b1b;
    color: #fff;
  }
}

@media screen and (max-width: 813px) {
  .button {
    font-size: 9px;
  }
}